/* Updated Apple-inspired CSS with Toggleable Dark Mode */

html {
    background-color: #858585;
    margin: 5px;
}

body {
    border-radius: 15px;
    padding: 7px;
    min-height: 80vh;
    background-color: #dbdbdb;
    color: #1d1d1f;
    transition: background 0.3s, color 0.3s;
}


.accordion-item {
    background-color: #f5f5f7;
}

.accordion-body {
    color: #1d1d1f;
}

.nav {
    border-bottom: 1px solid black;
}

.nav-link,
.nav-link.active {
    color: #1d1d1f;
}

.nav-link.active {
    color: white !important;
    background-color: #7a7a7a !important;
}

.accordion-button {
    color: #1d1d1f;
    background-color: #e8e8ed;
}

.accordion-button::after {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
    background-image: url("https://img.icons8.com/?size=100&id=40021&format=png&color=FFFFFF");
}

.nav-link:hover {
    /* color: #0071e3; */
    color: white;
    background-color: #606063;
}

a {
    color: #0071e3;
    /* color: black; */
}

.modal {
    background-color: rgba(255, 255, 255, 0.9);
    color: #1d1d1f;
}

.modal-content {
    background-color: #ffffff;
}

/* Dark Mode */


.dark-mode {
    background-color: #222222;
    color: #f5f5f7;
}

.dark-mode html {
    html {
        background-color: #858585;
        margin: 5px;
    }
}

.dark-mode body {
    border-radius: 15px;
    padding: 7px;
    min-height: 80vh;
    background-color: #dbdbdb;
    color: #1d1d1f;
    transition: background 0.3s, color 0.3s;
}

.dark-mode .accordion-item {
    background-color: #2c2c2e;
}

.dark-mode .accordion-body {
    color: #f5f5f7;
}

.dark-mode .nav-link,
.dark-mode .nav-link.active {
    color: #f5f5f7;
}

.dark-mode .nav {
    border-bottom: 1px solid white;
}

.dark-mode .nav-link.active {
    color: white !important;
}

.dark-mode .accordion-button {
    color: #f5f5f7;
    background-color: #3a3a3c;
}

.dark-mode .accordion-button::after {
    background-image: url("https://img.icons8.com/?size=100&id=40021&format=png&color=FFFFFF");
}



.dark-mode .nav-link:hover {
    /* color: #2997ff; */
    background-color: #4a4a4c;
}

.dark-mode a {
    color: #2997ff;
}

.dark-mode .modal {
    background-color: rgba(28, 28, 30, 0.9);
    color: #f5f5f7;
}

.dark-mode .modal-content {
    background-color: #3a3a3c;
}

/* Ensure h2 is white in dark mode */
.dark-mode h2 {
    color: #ffffff;
}